{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- start slider section -->
<div id="top_section" class=" banner_main">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container-fluid">
                            <div class="carousel-caption relative">
                                <div class="row d_flex">
                                    <div class="col-md-6">
                                        <div class="con_img">
                                            <figure><img class="img_responsive" src="{%static "images/top_img.svg"%}" alt="#" /></figure>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="bluid">
                                            <h1>For you<br> For People Who Aspire More</h1>
                                            <p>Iusto expedita error beatae asperiores eligendi fuga voluptate, aspernatur libero dolore rerum sunt qui eveniet delectus cum impedit? Nostrum ea id magni quisquam suscipit libero repudiandae,
                                            </p>
                                            <a class="read_more" href="Javascript:void(0)">Learn More </a>
                                            <a class="read_more" href="Javascript:void(0)">Get A Quote </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container-fluid">
                            <div class="carousel-caption relative">
                                <div class="row d_flex">
                                    <div class="col-md-6">
                                        <div class="con_img">
                                            <figure><img class="img_responsive" src="{%static "images/top_img.svg"%}" alt="#" /></figure>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="bluid">
                                            <h1>For you <br> For People Who Aspire More</h1>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                            </p>
                                            <a class="read_more" href="Javascript:void(0)">Learn More </a><a class="read_more" href="Javascript:void(0)">Get A Quote </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container-fluid">
                            <div class="carousel-caption relative">
                                <div class="row d_flex">
                                    <div class="col-md-6">
                                        <div class="con_img">
                                            <figure><img class="img_responsive" src="{%static "images/top_img.svg"%}" alt="#" /></figure>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="bluid">
                                            <h1>For you <br> For People Who Aspire More</h1>
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                            </p>
                                            <a class="read_more" href="Javascript:void(0)">Learn More </a><a class="read_more" href="Javascript:void(0)">Get A Quote </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>&nbsp;
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- Starts Section -->
<div class="layout_padding">
    <div class="container5">
        <div class="row">
          <div class="col-md-12">
             <div class="full">
                <div class="heading_main text_align_center">
                   <h8>Get <span class="theme_color">Started</span></h8>
                </div>
             </div>
          </div>
          <div class="col-md-12 text_align_center">
             <div class="full">
                <p class="large_2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium<br>doloremque laudantium, totam rem aperiam, eaque ipsa quae..</p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-40">
             <div class="full icons text_align_center">
                <img src="{%static "images/img/icon1_.png" %}" width="75" alt="#">
             </div>
             <div class="full text_align_center">
                <h7>BETTER THAN A CREDIT CARD</h7>
             </div>
          </div>
          <div class="col-md-40">
             <div class="full icons text_align_center">
                <img src="{%static "images/img/icon3_.png" %}" width="75" alt="#">
             </div>
             <div class="full text_align_center">
                <h7>SAFE &amp; SECURE</h7>
             </div>
          </div>
          <div class="col-md-40">
             <div class="full icons text_align_center">
                <img src="{%static "images/img/icon2_.png" %}"width="75" alt="#">
             </div>
             <div class="full text_align_center">
                <h7>MOBILE APP</h7>
             </div>
          </div>
          <div class="col-md-40">
             <div class="full icons text_align_center">
                <img src="{%static "images/img/icon4_.png" %}"width="75" alt="#">
             </div>
             <div class="full text_align_center">
                <h7>BETTER THAN CASH</h7>
             </div>
          </div>
          <div class="col-md-40">
             <div class="full icons text_align_center">
                <img src="{%static "images/img/icon5_.png" %}" width="75" alt="#">
             </div>
             <div class="full text_align_center">
                <h7>INSTANT EXCHANGE</h7>
             </div>
          </div>
          <div class="col-md-40">
             <div class="full icons text_align_center">
                <img src="{%static "images/img/icon6_.png" %}" width="75" alt="#">
             </div>
             <div class="full text_align_center">
                <h7>FASTER SETTLEMENT</h7>
             </div>
          </div>
          <div class="col-md-40">
             <div class="full icons text_align_center">
                <img src="{%static "images/img/f2.png" %}"width="75" alt="#">
             </div>
             <div class="full text_align_center">
                <h7>Fast TRANSACTION</h7>
             </div>
          </div>
          <div class="col-md-40">
             <div class="full icons text_align_center">
                <img src="{%static "images/img/f3.png" %}" width="75" alt="#">
             </div>
             <div class="full text_align_center">
                <h7>24/7 TRADING</h7>
             </div>
          </div>
          <div class="col-md-40">
             <div class="full icons text_align_center">
                <img src="{%static "images/img/f1.png" %}"width="75" alt="#">
             </div>
             <div class="full text_align_center">
                <h7>FREE CONSULTING</h7>
             </div>
          </div>
       </div>
    </div>
</div>
  
<!--Ends Starts Section -->


<!-- end slider section -->
<!-- wallet -->
<div class="wallet">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div id="wa_hover" class="wallet_box text_align_center">
                <i><img src="{%static "images/26.png" %}" alt="#"/></i>
                <h3>Foundation</h3>
                <p>Learn more about the PotterCoin Foundation. </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div id="wa_hover" class="wallet_box text_align_center">
                <i><img src="{%static "images/27.png" %}" alt="#"/></i>
                <h3>BLOGS</h3>
                <p>Stay up to date with blog posts from our team of Developers! </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div id="wa_hover" class="wallet_box text_align_center">
                <i><img src="{%static "images/28.png" %}"  alt="#"/></i>
                <h3>ANNOUNCEMENTS </h3>
                <p>Further announcements from the Pottercoin Foundation . </p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div id="wa_hover" class="wallet_box text_align_center">
                <i><img src="{%static "images/29.png" %}"  alt="#"/></i>
                <h3>FAQs</h3>
                <p> Frequently asked questions about Pottercoin IP. </p>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end wallet -->
<!-- about -->
<div id="about" class="about">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="about_border">
                <div class="row">
                    <div class="col-md-6">
                        <div class="titlepage text_align_left">
                            <h2>About Us</h2>
                        </div>
                        <div class="about_text">
                            <p>Founded in 2022, Potter Group is a world-leading company in the digital economy industry, with a mission to make breakthroughs in core blockchain technologies and integration of blockchain technology with other industries. Surrounding the upstream and downstream sectors, Potter Group has expanded into industry blockchain, public chain, digital assets trading and wallet, digital economy research, etc., and has established a global industry ecosystem for the digital economy.</p>
                            <a class="read_more" href="about.html">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_img">
                            <figure><img class="img_responsive" src="{%static "images/PotterCoin.png"%}" alt="#" /></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end about -->
<!-- testimonial -->
<div class="testimonial">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="border_testi">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage text_align_center">
                            <h2>Testimonial</h2>
                        </div>
                    </div>
                </div>
                <div class="row d_flex">
                    <div class="col-md-10 offset-md-1">
                        <div id="testimo" class="carousel slide our_testimonial" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#testimo" data-slide-to="0" class="active"></li>
                                <li data-target="#testimo" data-slide-to="1"></li>
                                <li data-target="#testimo" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="container">
                                        <div class="carousel-caption posi_in">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="testomoniam_text text_align_center">
                                                        <i><img src="{%static  "images/mike.jpg" %}" alt="#"/></i>
                                                        <h3>Mike</h3>
                                                        <span>Pottercoin</span>
                                                        <img src="{%static  "images/icon.png"%}" alt="#" />
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="testomoniam_text text_align_left">
                                                        <p>The day had begun on a bright note. The sun finally peeked through the rain for the first time in a week, and the birds were singing in its warmth. There was no way to anticipate what was about to happen. It was a worst-case scenario and there was no way out of </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="container">
                                        <div class="carousel-caption posi_in">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="testomoniam_text text_align_center">
                                                        <i><img src="{%static  "images/jack.jpg"%}" alt="#"/></i>
                                                        <h3>Jack</h3>
                                                        <span>Pottercoin</span>
                                                        <img src="{%static  "images/icon.png"%}" alt="#" />
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="testomoniam_text text_align_left">
                                                        <p>The day had begun on a bright note. The sun finally peeked through the rain for the first time in a week, and the birds were singing in its warmth. There was no way to anticipate what was about to happen. It was a worst-case scenario and there was no way out of </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="container">
                                        <div class="carousel-caption posi_in">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="testomoniam_text text_align_center">
                                                        <i><img src="{%static "images/john.jpg"%}" alt="#"/></i>
                                                        <h3>John</h3>
                                                        <span>Pottercoin</span>
                                                        <img src="{%static "images/icon.png" %}"alt="#" />
                                                    </div>
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="testomoniam_text text_align_left">
                                                        <p>The day had begun on a bright note. The sun finally peeked through the rain for the first time in a week, and the birds were singing in its warmth. There was no way to anticipate what was about to happen. It was a worst-case scenario and there was no way out of </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#testimo" role="button" data-slide="prev">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#testimo" role="button" data-slide="next">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end testimonial -->
<!-- works -->
<div class="works">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage text_align_center">
                <h2>How It Works</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="works_vedio">
                <iframe width="1100" height="450" src="https://www.youtube.com/embed/6D-eJS4yxr4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>
        </div>
    </div>
</div>
</div>
<!-- works -->
<!-- contact -->
<div class="contact">
<div class="container">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="titlepage text_align_center">
                <h2>Contact Us</h2>
            </div>
        </div>
        <div class=" col-md-10 offset-md-1">
            <form id="request" class="main_form">
                <div class="row">
                    <div class="col-md-6 ">
                        <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                    </div>
                    <div class="col-md-6">
                        <input class="contactus" placeholder="Email" type="type" name="Email">
                    </div>
                    <div class="col-md-6">
                        <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                    </div>
                    <div class="col-md-6">
                        <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="send_btn">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- end contact -->
<!-- footer -->
<footer>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="logo_bottom" href="index.html">PotterCoin</a>
            </div>
        <div class="col-md-3 col-sm-6">
            <div class="Informa conta">
                <h3>Contact Us</h3>
                <ul>
                <li> <a href="Javascript:void(0) "> <i class="fa fa-map-marker " aria-hidden="true "></i> Location</a>
                </li>
                <li> <a href="Javascript:void(0) "><i class="fa fa-phone " aria-hidden="true "></i> Call +01 1234567890</a>
                </li>
                <li> <a href="Javascript:void(0) "> <i class="fa fa-envelope " aria-hidden="true "></i> demo@gmail.com</a>
                </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="Informa helpful">
                <h3>Useful Link</h3>
                        <ul class="horizontal">
                            <li class="space"> <a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="space"> <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                            <li class="space"> <a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li class="space"> <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li class="space"> <a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    
            </div>
        </div>
            <div class="col-md-3 col-sm-6">
            <div class="Informa ">
                <h3>Offices</h3>
                <ul>
                <li>The shoes had been there for as long as anyone could remember. In fact, it was difficult for anyone to come up with a date they had first appeared. It had seemed they'd always been there and yet they seemed so out of place.                              
                </li>
                
                </ul>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 ">
            <div class="Informa ">
                <h3>Newsletter</h3>
                <form class="newslatter_form ">
                <input class="ente " placeholder="Enter your email " type="text " name="Enter your email ">
                <button class="subs_btn ">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <div class="copyright text_align_center ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</footer>
<!-- end footer -->

</body>
{% endblock content %}