{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="wallet">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center">
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <i><img src="{%static  "images/26.png" %}"  alt="#"/></i>
                    <h3>Foundation</h3>
                    <p>Learn more about the PotterCoin Foundation. </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <i><img src="{%static "images/27.png" %}" alt="#"/></i>
                    <h3>BLOGS</h3>
                    <p>Stay up to date with blog posts from our team of Developers! </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <i><img src="{%static "images/28.png" %}"  alt="#"/></i>
                    <h3>ANNOUNCEMENTS </h3>
                    <p>Announcements from the Pottercoin Foundation can be found here. </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div id="wa_hover" class="wallet_box text_align_center">
                    <i><img src="{%static "images/29.png" %}"  alt="#"/></i>
                    <h3>FAQs</h3>
                    <p>Frequently asked questions about Pottercoin IP. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end wallet -->
<!-- footer -->
<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="logo_bottom" href="{%static "index.html" %}">PotterCoin</a>
                </div>
                <div class="col-md-3 col-sm-6">
                <div class="Informa conta ">
                    <h3>Contact Us</h3>
                    <ul>
                    <li> <a href="Javascript:void(0) "> <i class="fa fa-map-marker " aria-hidden="true "></i> Location
                        </a>
                    </li>
                    <li> <a href="Javascript:void(0) "><i class="fa fa-phone " aria-hidden="true "></i> Call +01 1234567890
                        </a>
                    </li>
                    <li> <a href="Javascript:void(0) "> <i class="fa fa-envelope " aria-hidden="true "></i> demo@gmail.com
                        </a>
                    </li>
                    </ul>
                    <ul>
                    <li>The shoes had been there for as long as anyone could remember. In fact, it was difficult for anyone to come up with a date they had first appeared. It had seemed they'd always been there and yet they seemed so out of place.                             
                    </li>
                    
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 "">
                <div class="Informa helpful">
                    <h3>Useful Link</h3>
                            <ul class="horizontal">
                                <li class="space"> <a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                                <li class="space"> <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                <li class="space"> <a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li class="space"> <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li class="space"> <a href="https://www.youtube.com/"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        
                    </div>
            </div>
                <div class="col-md-3 col-sm-6">
                <div class="Informa ">
                    <h3>Offices</h3>
                    <ul>
                    <li>The shoes had been there for as long as anyone could remember. In fact, it was difficult for anyone to come up with a date they had first appeared. It had seemed they'd always been there and yet they seemed so out of place.                             
                    </li>
                    
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="Informa ">
                    <h3>Newsletter</h3>
                    <form class="newslatter_form ">
                    <input class="ente " placeholder="Enter your email " type="text " name="Enter your email ">
                    <button class="subs_btn ">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright text_align_center ">
            <div class="container ">
                <div class="row ">
                    <div class="col-md-12 ">
                    {% comment %} <p>© 2020 All Rights Reserved. Design by   <a href="https://html.design/ "> Free Html Template</a></p> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- end footer -->
</body>
{% endblock content %}